<?xml version="1.0" encoding="utf-8" ?>
<root>
  <field type="page" tip="登录页面"></field>
  <field type="file" tip="店招图片(320*160)" name="dianzhao_pic"></field>
  <field type="file" tip="Logo图片(60*60)" name="logo_pic"></field>
  <field type="text" tip="店铺名称" name="dianming"></field>
  <field type="page" tip="商家主页"></field>
  <group name="lunbo" tip="轮播图(270*150)">
    <field type="file" tip="图片地址" name="pic"></field>
    <field type="text" tip="链接地址" name="url"></field>
  </group>
  <group name="cuxiao" tip="促销活动(270*150)">
    <field type="file" tip="图片" name="cx_pic"></field>
    <field type="text" tip="文字" name="cx_txt"></field>
  </group>
</root>