@{
    Layout = "~/Views/Shared/Mobile_Layout.cshtml";
    ViewBag.Title = "微信登录";

}
<div id="loading">
  <div class="fluid wrapper test transition">
  	<h1 id="logo" class="test"><img class="lo_ico" src="/img/weixin_big.png"></h1>
  	<div class="notecont transition">
    <div style="text-align:left;margin:0 auto;width:80%;">
      1、请用手机打开微信，点击右上角的“+”号选择“扫一扫”。<br />
      2、扫描本店的微信二维码并关注。<br />
      3、点击“免费上网”即可完成认证。<br />
      </div>
  	</div>
    <div id="footer">
      <p>聚金软件</p>
    </div>
  </div>
</div>