@{
    Layout = "~/Views/Shared/Mobile_Layout.cshtml";
}
<div id="loading">
  <div class="fluid wrapper test transition">
  	<h1 id="logo" class="test"><img class="lo_ico" src="/img/internet.png"></h1>
  	<div class="notecont transition">
      <h2 style="font-size:14px;">
      @ViewBag.msg<a href="javascript:;" onclick="window.history.go(-1)">返回</a>
      </h2>
  	</div>
    <div id="footer">
      <p>聚金软件</p>
    </div>
  </div>
</div>