<div style="position:fixed;margin-top:10px;" id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="/merchant/home">
                    <i class="icon-home"></i>
                    <span>概况</span>
                </a>
            </li>            
            <li>
                <a href="/merchant/setting">
                    <i class="icon-cog"></i>
                    <span>账号设置</span>
                </a>
            </li>
           <li class="active">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-sitemap"></i>
                    <span>访客管理</span>
		    <i class="icon-chevron-down"></i>
                </a>
                <ul style="display:block;" class="submenu">
                	@*<li><a href="/merchant/guest">访客分析</a></li>*@
                    <li><a href="/merchant/guestlist/?isonline=1">在线访客</a></li>
                    <li><a href="/merchant/guestlist">访客列表</a></li>
                    <li><a href="/merchant/blacklist">访客黑名单</a></li>
                </ul>
            </li>
            
            <li>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-paste"></i>
                    <span>广告模板</span>
		    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/merchant/mytemplatelist">我的模板</a></li>
                    <li><a href="/merchant/templatelist">模板库</a></li>
                    <span style="display:block;height:5px;width:55px;border-top:dashed 1px #000;"></span>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-paste"></i>
                    <span>我的设备</span>
		    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/merchant/mydevice">设备列表</a></li>
                    <span style="display:block;height:5px;width:55px;border-top:dashed 1px #000;"></span>
                </ul>
            </li>

			 @*<li>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-group"></i>
                    <span>上网用户</span>
		    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                	<li><a href="http://c.freewifibox.com/client/online.html">在线用户</a></li>
                    <li><a href="http://c.freewifibox.com/client.html">用户列表</a></li>
                    <li><a href="http://c.freewifibox.com/client/group.html">用 户 组</a></li>
                </ul>
            </li>*@
                   </ul>
    </div>