<div style="position:fixed;margin-top:10px;" id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="/admin">
                    <i class="icon-home"></i>
                    <span>主页</span>
                </a>
            </li>
            <li>
                <a href="/admin/setting">
                    <i class="icon-cog"></i>
                    <span>账号设置</span>
                </a>
            </li>
           <li class="active">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-sitemap"></i>
                    <span>商家管理</span>
		    <i class="icon-chevron-down"></i>
                </a>
                <ul style="display:block;" class="submenu">
                	<li><a href="/admin/merchantadd">添加商家</a></li>
                    <li><a href="/admin/merchantlist">商家列表</a></li>
                </ul>
            </li>
            
            @*<li>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-paste"></i>
                    <span>广告配置</span>
		    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                	<li><a href="http://c.freewifibox.com/ad/add.html">添加站点</a></li>
                    <li><a href="http://c.freewifibox.com/ad.html">站点列表</a></li>
                    <span style="display:block;height:5px;width:55px;border-top:dashed 1px #000;"></span>
                    <li><a href="http://c.freewifibox.com/ad/theme/add.html">新建模板</a></li>
                    <li><a href="http://c.freewifibox.com/ad/theme.html">模板管理</a></li>
                </ul>
            </li>

			 <li>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-group"></i>
                    <span>上网用户</span>
		    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                	<li><a href="http://c.freewifibox.com/client/online.html">在线用户</a></li>
                    <li><a href="http://c.freewifibox.com/client.html">用户列表</a></li>
                    <li><a href="http://c.freewifibox.com/client/group.html">用 户 组</a></li>
                </ul>
            </li>*@
                   </ul>
    </div>