<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jujin.Dao.Properties.Settings.wifiConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=wifi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Jujin.Dao.Properties.Settings.wifiConnectionString1"
            connectionString="Data Source=wt-pc;Initial Catalog=wifi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>